.Catalogue__cards__modal__preview-body__description {
    margin: 3rem 0;
}

.Catalogue__cards__modal__preview-body__fields {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

/* Reactive styles */

/* xxl breakpoint */
@media (max-width: 1400px){
    .Catalogue__cards__modal__preview-body__description {
        margin: 1rem 0 !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        max-height: 4.5rem;
    }
    
    .Catalogue__cards__modal__preview-body__price {
        font-size: 1.25rem !important;
    }
    
    .Catalogue__cards__modal__preview-body__fields {
        margin-top: 2rem !important;
        margin-bottom: 2.25rem !important;
    }
}