.tattoo-description p {
    text-align: justify;
}

.color {
    border: #333333;
    height: 27.5px;
    width: 27.5px;
}

.color:hover {
    cursor: pointer;
}

.color-tooltip {
    color: #fff;
    font-size: .93em;
    transition: all .25s;
    opacity: 0;
}

.color:hover + .color-tooltip {
    opacity: 1;
}