/* CATALOGUE */
.Catalogue {
    width: 70% !important;
}

.Catalogue__header {
    text-align: center;
    margin-bottom: 4.5rem;
}

.Catalogue__header h2 {
    font-family: 'Yeseva One', cursive, serif !important;
}

/* SEARCH BAR */
.Catalogue__search-bar {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1.5rem;
}

.Catalogue__search-bar__input {
    padding-top: 1.25rem;
    padding-left: 4.25rem;
    padding-bottom: 1.25rem;
    padding-right: 1.25rem;
    border-radius: 50px !important;
}

/* CARDS */
.Catalogue__cards {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    width: 100%;
    margin: 0;
}

.Catalogue__cards__card {
    width: calc(33.33% - 1rem);
    height: calc(100vw * .35);
    margin: .5rem .5rem;
    border-radius: .25rem !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    transition: .35s;
}

.Catalogue__cards__card:hover {
    transform: scale(1.02, 1.02);
}

/* CARD MODALS */
.Catalogue__cards__modal {
    position: fixed;
    z-index: 1040;
    display: none;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.5s;
}

.Catalogue__cards__modal:target {
    display: flex;
}

.Catalogue__cards__modal > div {
    height: inherit;
}

.Catalogue__cards__modal__preview {
    order: -1 !important;
}

.Catalogue__cards__modal__preview__image {
    height: inherit;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.Catalogue__cards__modal__preview-body {
    order: 6 !important;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: #fff;
    border-left: 1px solid #dee2e6;
}

.Catalogue__cards__modal--back {
    position: absolute;
    z-index: 1060;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
    top: 0;
    left: 0;
    margin: 3rem 0 0 3rem;
    background-color: #fff;
    border: 1px solid #dee2e6 !important;
}

.Catalogue__cards__modal__preview-body__form {
    width: 60% !important;
    margin: 0 0 0 5rem;
}

/* REACTIVE CONTENT STYLES */

/* xxl breakpoint */
@media (max-width: 1400px){
    body {
        overflow: hidden;
    }

    .Catalogue__cards__modal {
        flex-flow: column nowrap !important;
    }

    .Catalogue__cards__modal__preview {
        position: relative;
        width: auto !important;
        height: auto !important;
        margin-top: 15vh;
        margin-bottom: 3rem !important;
    }
    
    .Catalogue__cards__modal__preview__image {
        position: relative;
        min-width: 250px !important;
        min-height: 250px !important;
        width: 32.5vw !important;
        height: 32.5vw !important;
        border-radius: 50% !important;
    }

    .Catalogue__cards__modal__preview-body {
        margin-bottom: 3rem !important;
        border: none !important;
    }

    .Catalogue__cards__modal__preview-body__form {
        margin: 0 auto !important;
    }
}