/* Checkout */
.Checkout {
    width: 70%;
}

/* Checkout item */
.Checkout__list__item {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 3rem !important;
    border-bottom: 1px solid #dee2e6 !important;
}

.Checkout__list__item__preview {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.Checkout__list__item__preview__image {
    max-width: 275px !important;
    max-height: 275px !important;
    width: 275px;
    height: 275px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 360px !important;
}

.Checkout__list__item__details {
    width: 100%;
    margin-left: 3.5rem;
}

.Checkout__summary {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-left: 0;
    margin-right: 0;
    padding: 3rem !important;
}

.Checkout__summary > div {
    width: 100%;
    align-items: flex-start;
}

.Checkout__billing-form {
    margin-left: 0.5rem !important;
    margin-right: 0.5rem !important;
}

/* Reactive styles */

/* sm breakpoint */
@media (max-width: 576px){
    .Checkout__billing-form .col-12 {
        margin-top: 0.5rem !important;
        margin-bottom: 0.5rem !important;
    }
}

/* lg breakpoint */
@media (max-width: 992px){
    .Checkout__list__item {
        flex-flow: column nowrap !important;
    }

    .Checkout__list__item__details {
        margin: 0 !important;
    }

    .Checkout__list__item__preview__image {
        width: 275px !important;
        height: 275px !important;
    }
}

/* xl breakpoint */
@media (max-width: 1200px){
    .Checkout__summary {
        flex-flow: column nowrap !important;
    }
}

/* xxl breakpoint */
@media (max-width: 1400px){
    .Checkout__list__item__preview__image {
        width: 200px !important;
        height: 200px !important;
    }
}