/* Reservation page */
.Reservations {
    width: 80% !important;
}

.Reservations__header {
    padding-bottom: 3.5rem;
    border-bottom: 1px solid #dee2e6 !important;
}

/* Reservation controls */
.Reservations__controls {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0 1rem 0 !important;
}

.Reservations__controls__control {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50rem !important;
}

.Reservations__controls__control > span {
    line-height: 1.5 !important;
}

.Reservations__controls__control__text {
    margin: 0 0 0 0.5rem !important;
    display: block;
}

/* Reservation */
.Reservations__item {
    transition: margin .35s;
}

.Reservations__item__collapsible {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dee2e6 !important;
    border-radius: 50rem !important;
}

.Reservations__item__collapsible--toggler {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    background-color: rgba(255, 255, 255, 0) !important;
    padding: 3.25rem !important;
    border: 0 !important;
}

.Reservations__item__collapsible__avatar {
    height: 50px !important;
    width: 50px !important;
    border: 1px solid #dee2e6 !important;
}

.Reservations__item__collapsible__header {
    display: block;
    margin: 0 0.35rem 0 1.25rem !important;
}

.Reservations__item__collapsible__date {
    font-size: 1rem;
    color: #6c757d;
    margin: 0;
  }

.Reservations__item__collapsible__body--stacking .row {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important;
}

.Reservations__item__collapsible__body--stacking {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.Reservations__item__collapsible__body__tattoo-preview {
    max-width: 400px;
    max-height: 400px;
    width: 400px;
    height: 400px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    border-radius: 360px !important;
}

.Reservations__item__collapsible__body--stacking__item-details {
    width: 100%;
    order: 6 !important;
    margin: 0 0 0 3.5rem;
}

.Reservations__item__collapsible__body__item-details {
    margin: 3rem 0 0 0;
}

/* Reservations reactive styling */
@media (max-width: 1086px){
    .Reservations__item__collapsible__header {
      display: none !important;
    }

    .Reservations__item__collapsible__date {
      font-size: 1.25rem !important;
      color: #000000 !important;
      margin: 0 0 0 0.5rem !important;
    }
  }

@media (max-width: 1362px){
    .Reservations__item__collapsible__body--stacking {
        flex-flow: column nowrap !important;
    }

    .Reservations__item__collapsible__body__tattoo-preview {
        width: 350px !important;
        height: 350px !important;
    }

    .Reservations__item__collapsible__body--stacking__item-details {
        margin: 3.5rem 0 0 0 !important;
    }

    .Reservations__item__collapsible__body__item-details {
        margin: 0 !important;
    }
}

@media (max-width: 1396px){
    .Reservations__controls__control__text {
        display: none !important;
    }
}