
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  color: #000000;
  font-family: 'Open Sans', 'Raleway', 'Helvetica Neue', 'Libre Caslon Text', 'Arial', sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

html a, a:link, a:visited {
  text-decoration: none;
  color: #000000;
}

textarea {
  resize: none;
}

.header {
  width: 100%;
  height: auto;
  background: #fff;
  position: sticky;
}

.content {
  margin: 100px auto !important;
}

.tabs {
  transition: color .4s;
}

.form-select-plaintext {
  background-color: #e9ecef !important;
}

.error-message {
  color: #dc3545 !important;
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.material-icons, .material-icons-outlined, .material-icons-round, .material-icons-sharp, .material-icons-two-tone {
  line-height: 1.5 !important;
}

.avatar {
  border-radius: 360px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
}

/* CUSTOM BOOTSTRAP CLASSES */

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  pointer-events: none;
}

.text-justify {
  text-align: justify !important;
}

/* custom backgrounds */
.bg-none { background-color: rgba(255, 255, 255, 0) !important; } .bg-extralight { background-color: #fefefe !important; } .bg-center-fit { background-position: center; background-repeat: no-repeat; background-size: cover; background-repeat: no-repeat; }

/* custom borders */
.border-x { border-left: 1px solid #dee2e6 !important; border-right: 1px solid #dee2e6 !important; } .border-y { border-top: 1px solid #dee2e6 !important; border-bottom: 1px solid #dee2e6 !important; }
.border-x-0 { border-left: none !important; border-right: none !important; } .border-y-0 { border-top: none !important; border-bottom: none !important; }

/* custom fonts */
.fs-display-1 { font-size: 5rem !important; } .fs-display-2 { font-size: 4.5rem !important; } .fs-display-3 {font-size: 4rem !important; } .fs-display-4 { font-size: 3.5rem !important; } .fs-display-5 { font-size: 3rem !important; } .fs-display-6 { font-size: 2.5rem !important; }

/* custom widths */
.w-60 { width: 60% !important; } .w-65 { width: 65% !important; } .w-70 { width: 70% !important; } .w-80 { width: 80% !important; } .w-85 { width: 85% !important; } .w-90 { width: 90% !important; }

/* custom font-weights */

.fw-semibold { font-weight: 600 !important; }
.fw-extrabold { font-weight: 800 !important; }

/* CUSTOM SPACING */
/* custom margins */
.m-6 { margin: 3.5rem !important; } .mx-6 { margin-left: 3.5rem !important; margin-right: 3.5rem !important; } .ms-6 { margin-left: 3.5rem !important; } .me-6 { margin-right: 3.5rem !important; } .my-6 { margin-top: 3.5rem !important; margin-bottom: 3.5rem !important; } .mt-6 { margin-top: 3.5rem !important; } .mb-6 { margin-bottom: 3.5rem !important; }
.m-7 { margin: 4rem !important; } .mx-7 { margin-left: 4rem !important; margin-right: 4rem !important; } .ms-7 { margin-left: 4rem !important; } .me-7 { margin-right: 4rem !important; } .my-7 { margin-top: 4rem !important; margin-bottom: 4rem !important; } .mt-7 { margin-top: 4rem !important; } .mb-7 { margin-bottom: 4rem !important; }
.m-8 { margin: 4.5rem !important; } .mx-8 { margin-left: 4.5rem !important; margin-right: 4.5rem !important; } .ms-8 { margin-left: 4.5rem !important; } .me-8 { margin-right: 4.5rem !important; } .my-8 { margin-top: 4.5rem !important; margin-bottom: 4.5rem !important; } .mt-8 { margin-top: 4.5rem !important; } .mb-8 { margin-bottom: 4.5rem !important; }
.m-9 { margin: 5rem !important; } .mx-9 { margin-left: 5rem !important; margin-right: 5rem !important; } .ms-9 { margin-left: 5rem !important; } .me-9 { margin-right: 5rem !important; } .my-9 { margin-top: 5rem !important; margin-bottom: 5rem !important; } .mt-9 { margin-top: 5rem !important; } .mb-9 { margin-bottom: 5rem !important; }

/*
  padding: 0 auto;
    padding-left: auto;
    padding-right: auto;
    padding-top: 0;
    padding-bottom: 0;
*/

.p-6 { padding: 3.5rem !important; } .px-6 { padding-left: 3.5rem !important; padding-right: 3.5rem !important; } .ps-6 { padding-left: 3.5rem !important; } .pe-6 { padding-right: 3.5rem !important; } .py-6 { padding-top: 3.5rem !important; padding-bottom: 3.5rem !important; } .pt-6 { padding-top: 3.5rem !important; } .pb-6 { padding-bottom: 3.5rem !important; }
.p-7 { padding: 4rem !important; } .px-7 { padding-left: 4rem !important; padding-right: 4rem !important; } .ps-7 { padding-left: 4rem !important; } .pe-7 { padding-right: 4rem !important; } .py-7 { padding-top: 4rem !important; padding-bottom: 4rem !important; } .pt-7 { padding-top: 4rem !important; } .pb-7 { padding-bottom: 4rem !important; }
.p-8 { padding: 4.5rem !important; } .px-8 { padding-left: 4.5rem !important; padding-right: 4.5rem !important; } .ps-8 { padding-left: 4.5rem !important; } .pe-8 { padding-right: 4.5rem !important; } .py-8 { padding-top: 4.5rem !important; padding-bottom: 4.5rem !important; } .pt-8 { padding-top: 4.5rem !important; } .pb-8 { padding-bottom: 4.5rem !important; }
.p-9 { padding: 5rem !important; } .px-9 { padding-left: 5rem !important; padding-right: 5rem !important; } .ps-9 { padding-left: 5rem !important; } .pe-9 { padding-right: 5rem !important; } .py-9 { padding-top: 5rem !important; padding-bottom: 5rem !important; } .pt-9 { padding-top: 5rem !important; } .pb-9 { padding-bottom: 5rem !important; }

/* COLLAPSIBLE STYLE */

.collapsible {
  background: #fefefe;
  text-align: left;
  width: 100%;
}

/* NAVBAR STYLE */

.navbar {
  background-color: #fff !important;
}

.nav-link {
  display: block;
  color: #000;
  font-size: 1.4rem !important;
  font-family: 'Libre Caslon Text', 'Arial', sans-serif !important;
  padding: 40px 1.5rem !important;
  text-decoration: none;
  transition: border .2s !important;
}

.nav-link--active, .nav-link:hover {
  color: #000;
}

.nav-link--hidden {
  display: none !important;
}

#nav__links button {
  width: 100%;
  text-align: left;
  border: none;
  outline: 0;
}

#user-avatar {
  width: 55px;
  height: 55px;
}

.navbar-nav #user-avatar ul li button {
  font-size: 1.10em;
  padding: .5rem 1.25rem;
}

@media (min-width: 992px) {
  .navbar .container-fluid {
    padding: 0 3rem 0 1.5rem;
  }

  .nav-link--active, .nav-link:hover {
    border-bottom: solid 5px #000 !important;
  }
}

@media (max-width: 992px) {
  .navbar .container-fluid {
    padding: 0;
    justify-content: flex-end;
  }

  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }

  #nav__links {
    margin-top: .25rem !important;
  }

  .nav-link {
    font-size: 1rem !important;
    background-color: #fbfbfb;
    padding: 25px .75rem !important;
  }

  .nav-link--hidden {
    display: block !important;
  }

  .nav-link--active, .nav-link:hover {
    font-weight: 600 !important;
  }

  #user-avatar {
    display: none;
  }
}